<polymer-element name="specimen-add">
  <template>
    <table>
     <tr>
       <th colspan="2"></th>
     </tr>
     <tr>
       <td><label for="name">Name</label></td>
       <td><input id="name" type="text" size="32"/></td>
     </tr>
     <tr>
       <td><label for="description">Description</label></td>
       <td><input id="description" type="text" size="96"/></td>
     </tr>
     <tr>
       <td><label for="picture">Picture</label></td>
       <td><input id="picture" type="text" size="64"/></td>
     </tr>
     <tr>
          <td><label for='plantCategory'>Plant</label></td>
          <td><select id="latinName">
                 <option value="{{plantCategory.latinName}}" template repeat="{{plantCategory in plantCategories.internalList}}">{{plantCategory.latinName}}</option>
              </select></td>
     </tr>
     <tr>
       <td colspan="2"><button on-click="{{add}}">Add</button></td>
     </tr>
     <tr>
       <td colspan="2"><span id="message"></span></td>
     </tr>
    </table>
  </template>
  <script type="application/dart" src="specimen_add.dart"></script>
</polymer-element>
