<polymer-element name="garden-edit">
  <link rel="stylesheet" href="../../css/project.css"> 
  
  <template>
  <table class="component_border">
  <thead class="component_header"><tr>
    <th colspan="2"><h2>Edit garden</h2></th>
  </tr></thead>
  
  <tr><td>
      <table> <!-- il ne faut pas utiliser <form>, sinon ça ne fonctionne pas-->
        <tr>
          <td><label>Name:</label></td>
          <td><label>{{garden.name}}</label></td></tr>
        <tr>
          <td><label for="{{garden.name}}-description">Description:</label></td>
          <td><input id="{{garden.name}}-description" type="text" size="96" value="{{description}}"/></td>
        </tr>
        <tr>
          <td><label>Geoposition:</label></td>
          <td><input id="{{garden.name}}-geoposition" type="text" size="96" value="{{geoposition}}"/></td>
        </tr>
        <tr>
          <td></td>
          <td><button on-click="{{update}}">Update</button></td>
        </tr>
      </table>
    </td></tr>
    <tr><td id="message">{{message}}</td></tr>
  </table>
  </template>

  <script type="application/dart" src="garden_edit.dart"></script>

</polymer-element>