<polymer-element name="garden-visit" noscript>
  <link rel="stylesheet" href="../../css/project.css"> 
  
  <template>
  <table class="component_border"><tr><td>  
  <thead class="component_header">
  <tr><th>
    <h2>A visit of Garden 1</h2>
    </th>
  </tr></thead>
    <tr><td>
  
    <p id="text">garden-visit</p>
    <!--<script type="application/dart" src="garden_visit.dart"></script>
    <script src="packages/browser/dart.js"></script>-->
  
  </td></tr></table>
  </template>
</polymer-element>
